# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
ENV/
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments and temporary files
pip-log.txt
pip-delete-this-directory.txt
